@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
 
 body{
    
    display: flex;
    justify-content: center;
    margin-top: 50px;

}

#categoryscreen {
    width: 327px;
    top: 128px;
    left: 24px;
    gap: 0px;
    border-radius: 4px 0px 0px 0px;
    opacity: 0px;
    background-color: #363636;
    

}
    
.categoryhead{
    font-family: Lato;
    color: white;
    padding-top: 12px;
    text-align: center;
    
}

.categoryhead p{
    margin: 0px
}

.imgs{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin: 2px;
    
    
}

.category{
   padding: 10px;
   font-family: Lato;
    color: white;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-width: 337px;
    margin-left: 17px;
}

.Add{
   justify-content: center;
    display: flex;
    padding: 10px;
    margin-left: 5px;
}


button{
    background-color: #363636;
    border: none;



    
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal {
    
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.fechar {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}


